@charset "utf-8";

.row { max-width:1142px; margin:0 auto}

#header { position:fixed; width:100%; 
    background:#fff; 
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1); 
    z-index:99; }
.topmenu { text-align:right; font-size:11px; font-family:'나눔고딕';
    color:rgba(0,0,0,0.6); padding:9px 0; position:relative; } 
.topmenu .search_box { position:absolute; top:3px; left:0; }    
.topmenu .search_box fieldset { border:1px solid #ccc; 
    padding-right:5px; border-radius:2px }
.topmenu .search_box input { border:none;  
    padding:4px 0.5em; }

    
.topmenu a { padding:0px 11px; position:relative; 
    /* border-left:1px solid #d2d3d5  */ }    
.topmenu a:before { content:''; width:1px; 
    height:7px; background:#d2d3d5; 
    position:absolute; left:0; top:50%; 
    transform:translateY(-50%); } 
/* 이름이 다른 형제가 존재하면 -child 대신에
    -of-type 선택자를 써야 함 */
.topmenu a:first-of-type:before { display:none }       
.topmenu a:hover { color:rgba(0,0,0,0.8) }    
/* .topmenu a:first-child { border:none }     */

.h1NavWrap { 
    border-top:1px solid #dedede}
.h1Nav { position:relative; height:103px }
.h1Nav h1 { font-size:30px; 
    color:#000; line-height:1; padding-top:25px }    
.h1Nav h1 span { font-size:14px; 
     display:block;  letter-spacing:3.5px}  

.h1Nav .open_nav { display:none }     
.h1Nav .close_nav { display:none }
.h1Nav .nav { position:absolute; 
    top:0; right:0 }
.h1Nav .nav .depth1 > li { 
    display:inline-block; position:relative;
} 
.h1Nav .nav .depth1 > li > a {
    position:relative; 
    display:block; padding:0 50px;
    font-size:17px; color:#666;
    font-family:'나눔고딕';
    margin-top:38px; 
    /* border-left:1px solid #d2d3d5  */
}       
/* .h1Nav .nav .depth1 > li:first-child > a { border:none } */
.h1Nav .nav .depth1 > li > a:before {
    content:''; width:1px; height:10px; 
    background:#d2d3d5; position:absolute;
    left:0; top:50%; transform:translateY(-50%); }
.h1Nav .nav .depth1 > li:first-child > a:before { display:none }   
.nav .depth2 { position:absolute; top:100%; left:0px;
    width:100%; background:#fff; padding:15px 25px;
    display:none; /*transition:all 0.5s*/ }
/* .nav .depth1 > li:hover .depth2 { display:block;  }     */
.nav .depth2 > li { line-height:31px; font-size:13px;
    color:rgba(0,0,0,0.6); text-align:center; 
    border-top:1px solid rgba(0,0,0,0.15);
    transition:all 0.5s }
.nav .depth2 > li:hover { color:rgba(0,0,0,0.25);
    text-indent:1em }
.nav .depth2 > li:first-child { border:none }    



#footer { background:#111; color:#666;
    padding:50px 0 60px }
#footer .inner { position:relative }
#footer .footerMenu { font-size:15px; 
    text-align:center }
#footer .footerMenu a { padding:0 45px; 
    font-weight:bold; position:relative }
#footer .footerMenu a:before { content:'|'; 
    position:absolute; top:50%; left:0; 
    font-size:10px; transform:translateY(-50%);
    font-weight:normal; }
#footer .footerMenu a:first-child:before { display:none } 

#footer .companyInfo { padding-top:35px; 
    font-size:13px }
#footer .sns { position:absolute; bottom:0; right:0  }

#footer .companyInfo span { position:relative;
    padding:0 8px 0 15px; }
#footer .companyInfo span:before { content:'|'; 
    position:absolute; top:0; left:0;  }
#footer .companyInfo span:first-child:before,
#footer .companyInfo span.detailaddr:before 
{ display:none; padding:0 }
#footer .companyInfo span.detailaddr { margin-left:-15px }

#footer .sns { font-size:11px; text-align:center }
#footer .sns .copyright { padding-bottom:10px }


.goTop { font-size:50px; position:fixed;
    bottom:30px; right:30px; z-index:99999;
    color:#ccc }
.loadBox {  display:none; 
    position:fixed; left:0; right:0; bottom:0; top:0;
    background:#fff; z-index:9999999 }    
.loadBox i { font-size:80px; 
    position:absolute; top:40%; left:50%;
    transform:translate(-50%, -50%) }    